body {
    font-size: 14px;
    font-family: arial;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center; 
    margin: 0; }

.rank {
    width: 100px; }

.username {
    width: 200px; }

.btn {
    width: 150px;
    cursor: pointer; }

table {
    text-align: center;
    border-collapse: collapse; }

table thead tr {
    background-color: white !important;
    font-weight: bold;
    text-align: center; }

table td {
    border: 1px solid black; }

tr:nth-child(even) {
    background-color: #b3b3b3; }

tr:nth-child(odd) {
    background-color: #d9d9d9; }